:root {
	--size: 50px;
	--padding: 3px;
}
* {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	color: #EEEEEE;
	overflow: hidden;
	display: flex;
	justify-content: center;
	background: #f3f3f3;
}

#list {
	display: grid;
	margin: var(--padding);
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: var(--padding);
	grid-row-gap: var(--padding);
}


#list button {
	box-sizing: content-box;
	display: inline-flex;
	position: relative;
	background: transparent;
	width: calc(var(--size) - 2px);
	height: calc(var(--size) - 2px);
	border: 2px solid #1a1a1a;
	font-size: calc(4px + var(--size) / 2);
}

#settings .icon-wrap {
	position: relative;
	width: calc(var(--size) / 2);
	height: calc(var(--size) / 2);
	border: 1px solid #1a1a1a;
	font-size: 14px;
}

.icon {
	position: absolute;
	background: #1a1a1a;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon.bright {
	color: #1a1a1a;
	background: #fff;
}

.top {
	left: 0;
	top: 0;
}
.left {
	left: 0;
	bottom: 0;
}
.right {
	right: 0;
	top: 0;
}
.bottom {
	right: 0;
	bottom: 0;
}
.middleX {
	left: 25%;
	top: 0;
}
.increaseCenter,
.decreaseCenter {
	left: 20%;
	top: 20%;
}
.increaseCenter::before {
    content: '';
    position: absolute;
    width: 2px; /* thickness of the plus */
    height: 60%; /* full height of the parent */
    background: #fff; /* color of the plus */
}

.increaseCenter::after,
.decreaseCenter::after {
    content: '';
    position: absolute;
	margin: 2px;
    height: 2px; /* thickness of the plus */
    width: 60%; /* full width of the parent */
    background: #fff; /* color of the plus */
}
.middleX.s2\/3 { left: 12.5%; }
.middleX.s1\/3 { left: 37.5%; }
.middleX.s1\/2 { left: 25%; }
.middleY {
	top: 25%;
	left: 0;
}
.middleY.s2\/3 { top: 12.5%; }
.middleY.s1\/3 { top: 37.5%; }
.middleY.s2\/3 { top: 25%; }


#list .active .icon,
#list button:hover .icon {
	background: #2b719c;
	color: #2b719c !important;
}

#settings {
	left: 0;
	position: absolute;
}

.settings-item {
	display: flex;
	margin-bottom: 5px;
}

.settings-item input {
	margin-left: 10px;
}

span.letter {
	position: absolute;
	background: #ffff00b5;
	font-size: 10px;
	bottom: 0;
	right: 0;
	opacity: 0;
	text-transform: uppercase;
}

.letter-visible span.letter {
	opacity: 1;
}
